<h1>New Meal</h1>
<%= simple_form_for @meal do |f| %>
  <%= f.input :name %>
  <%= f.input :ingredient %>
  <%= f.input :category %>
  <%= f.input :cost %>
  <%= f.input :high_protein, as: :boolean %>
  <%= f.input :low_carb, as: :boolean %>
  <%= f.input :vegan, as: :boolean %>
  <%= f.submit "Create" %>
<% end %>